*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.wheather-container{
    width: 500px;
    height: 500px;
    background-color:rgb(227 244 245 / 87%);
    display: flex;
    margin: 5% auto;
    /* margin-top: 10%; */
    border-radius: 15px;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


}
.text{
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.search{
    width: 376px;
    height: 54px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    margin: -1% 13%;
}
.search::placeholder{
    text-align: center;
    font-size: 1rem;
}
button{
    width: 89px;
    height: 39px;
    background-color: #3991c18c;
    border-radius: 23px;
    border: none;
    margin: 2rem 13rem;
}
.btn:hover{
    background-color: #3b7da182;
    border: 1px solid black;
}

.wheather-img {
    width:511px ;
    height: 313px;
    object-fit: contain;
    margin-bottom: 0;
}
.wheather-img img{
    width: 470px;
    height: 176px;
    object-fit: contain;
    object-position: center;
    margin: -1rem 1rem;    
}
.wheather-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 2%;
    /* flex-direction: column; */
    gap: 1.3rem;
    padding: 20px;

}
h1{
    font-weight: bold;
    margin: 2% 0%;
    font-size: 3.1rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0% 6%;
}
span{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.873);

}
